<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta name="referrer" content="never">
    <title>开放者平台</title>
    <script src="https://passpt.maike51.com/resources/mk/js/jquery.min.js"></script>
    <style type="text/css">
        body{
            font-family: "Microsoft YaHei UI", "Arial";
            font-size: 14px;
        }
        .mv-list {
            display: inline-block;
            padding: 5px 5px;
            margin-right: 10px;
        }

        .mv-list > a {
            display: inline-block;
            float: left;
        }

        .mv-list > ul {
            list-style: none;
            margin-left: 50px;
        }
    </style>
</head>
<body>
<input type="hidden" value="${page}">
<form action="index">
<p>
    <input type="text" name="name" style="width: 120px; height: 20px; padding: 5px 5px" value="${name}">
    <button type="submit">搜索</button>
</p>
</form>
<div>
    @for(var o in movies){
    @if(o.playUrls[0] == ''){
    @return;
    @}
    <div class="mv-list">
        <a href="${o.playUrls[0]}" target="_blank">
            <img height="120px" width="80px" src="${o.cover}">
        </a>
        <ul>
            <li>${o.name}</li>
            <li>${o.heros}</li>
            <li>
                @for(u in o.playUrls){
                <a href="${u}" target="_blank">播放${uLP.index}</a>
                @}
            </li>
        </ul>
    </div>
    @}
    <div style="padding: 15px 15px;text-align: center">
        @if(page > 1){
        <a href="index?page=${page-1}">上一页</a>
        @}
        @if(page == 2){
        <a href="index?page=1">1</a>
        @}
        @if(page > 2){
        <a href="index?page=1">1</a>
        ...
        <a href="index?page=${page-1}">${page-1}</a>
        @}
        <a href="index?page=${page}">${page}</a>
        @if(page < totalPage){
        <a href="index?page=${page+1}">${page+1}</a>
        @}
        @if(page < totalPage-1){
        ...
        <a href="index?page=${totalPage}">${totalPage}</a>
        @}
        @if(page < totalPage){
        <a href="index?page=${page+1}">下一页</a>
        @}
    </div>
</div>
</body>
</html>